

<div class="container m-5">
    <div class="row">
        <div class="col">
            <select class="" (click)='handleChangeDirector($event)'>
                <option value = ''>All Directors</option>
                <option *ngFor='let director of directors' class=""
                [class.active] = 'director == selectedFilter' >{{director}}</option>
            </select>
        </div>
        <div class="col">
            <select class="" (click)='handleChangePrice($event)'>
                <option value = ''>All Prices</option>
                <option *ngFor='let price of prices' class=""
                [class.active] = 'price == selectedFilter' >{{price}}</option>
            </select>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div *ngFor='let movie of movies' class="col" style="max-width: 250px;">
            <img src="assets/images/{{movie.posterUrl}}" alt="poster" style="min-width: 200px; max-width: 100%;">
            <h4>{{movie.title }}
                <span class="badge text-bg-success">
                    {{movie.price | currency: 'USD':'symbol':'1.2-2'}}
                </span>
            </h4>
            <button class="btn btn-info" (click)="addMovieToCart(movie)">Add to Cart </button>
        </div>
    </div>
</div>

<select class="" [value] = 'moviesPerPage' (change) = "handleChangePageSize($event)">
<option value="3">3 values per page</option>
<option value="9">9 values per page</option>
<option value="15">15 values per page</option>
<option value="21">21 values per page</option>
</select>

<button
*counter="let page of pageCount" (click) = 'changePage(page)' class="" [class.active]="page==selectedPage"> {{page}}
</button>

            
            
   
