<app-base-page></app-base-page>
<div class="container">
    <div class="row">
        <div id="carouselExampleFade" class="carousel slide carousel-fade col m-0" data-bs-ride="carousel">
            <div  class="carousel-inner ">
              <div class="carousel-item active">
                <img src="../../../assets/images/01_ts.jpg" class="d-block w-100" alt="...">
              </div>
              <div *ngFor='let movie of movies' class="carousel-item">
                <img src="../../../assets/images/{{movie.posterUrl}}" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>         
    </div>
</div>