
<div class="container-lg min-vw-100" style="background-image: url('../../../assets/poster3.jpg'); background-size:cover; height: 600px;">
  <div>
    <div class="position-relative">
      <img class="m-2" src="../../../assets/Pixar_logo_white.png" alt="logo" style="max-width: 200px;">
      <button class="btn btn-danger position-absolute top-0 end-0 m-2">Sign In</button>
    </div>
  </div>  
  <br><br><br>
  <h3 class="text-center text-white">Unlimited Movies, Animes, and more</h3> 
  <h4 class="text-center text-white">Watch anywhere, Cancel anytime</h4>
  <h4 class="text-center text-white">Ready to watch ? Enter your email to create or restart your membership.</h4> 
  <br><br>
  <div class="input-group mb-3 container d-flex justify-content-center">
    <input type="text" class="form-outline w-50" placeholder="Email adress" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-danger" type="button" id="button-addon2">Get Started ></button>    
  </div>  
  <br><br><br><br><br>
</div>